<!DOCTYPE html>
<html>
	<head>
		<title>NodeAuth Welcome Page</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	</head>
	<body
		style="
			margin: 0;
			padding: 0;
			min-width: 100%;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			line-height: 1.5;
			background-color: rgb(209, 213, 219);
			color: rgb(31, 41, 55);
		">
		<main>
			<header
				style="
					background-color: rgb(67, 56, 202);
					color: #fff;
					padding-top: 1rem;
					padding-bottom: 3rem;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 1rem;
                    margin: 0 auto;
				">
				<img
					src="https://img.icons8.com/?size=100&id=hsPbhkOH4FMe&format=png&color=000000"
					alt="nodejs icon"
					style="width: 40px; height: 40px;" />
				<h1 style="font-size: 25px; margin: 0;">NodeAuth</h1>
			</header>
			<article
				style="
					background-color: #fff;
					width: 80vw;
					margin: 0 auto;
					padding: 3rem;
					border-radius: 10px;
					box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
				">
				<p>
					Welcome to NodeAuth, this is a role base authentication system that you can use as your boiler plate, but please do not forget to star this project on github thanks for your support. <span><a href="https://github.com/munaray/NodeAuth">github.com/munaray/NodeAuth</a></span>
				</p>

				<p style="padding: 1rem 0 2rem 0; color: rgb(225, 29, 72)">
					This message is automated please do not reply
			</article>
			<footer style="text-align: center; padding-top: 2rem">
				<div style="margin-top: 1rem">
					<p
						style="
							font-size: medium;
							color: rgb(156, 163, 175);
							margin: 0;
						">
						&copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						Learnaray All rights reserved
					</p>
					<p style="margin: 0.5rem 0; padding-bottom: 2rem">
						<a
							href="mailto:dummy1215225@gmail.com"
							style="
								color: rgb(37, 99, 235);
								text-decoration: none;
								margin-right: 10px;
							"
							>Contact Us</a
						>
						<span style="color: rgb(37, 99, 235)"> | </span>
						<a
							href="mailto:dummy1215225@gmail.com"
							style="
								color: rgb(37, 99, 235);
								text-decoration: none;
								margin-left: 10px;
							"
							>Join Our Community</a
						>
					</p>
				</div>
			</footer>
		</main>
	</body>
</html>
